<section class="contactBox">
  <div class="contactBox_wrap">
    <ul class="contactBox_list">
      <li class="contactBox_item">
        <a href="/live/">
          <figure class="contactBox_img01">
            <img src="/img/icon/live.png" width="45" height="46" alt="">
          </figure>
          <p class="contactBox_text">コンサート<br>情報一覧</p>
        </a>
      </li><!-- /.contactBox_item -->
      <li class="contactBox_item">
        <a href="/blog/">
          <figure class="contactBox_img02">
            <img src="/img/icon/blog.png" width="58" height="49" alt="">
          </figure>
          <p class="contactBox_text contactBox_text02">Blog一覧</p>
        </a>
      </li><!-- /.contactBox_item -->
      <li class="contactBox_item">
        <a href="/inquiry/">
          <figure class="contactBox_img03">
            <img src="/img/icon/mail.png" width="58" height="40" alt="">
          </figure>
          <p class="contactBox_text contactBox_text02">お問い合わせ</p>
        </a>
      </li><!-- /.contactBox_item -->
    </ul><!-- /.contactBox_list -->
  </div><!-- /.contactBox_wrap -->
</section><!-- /.contactBox -->