<div class="google-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.242053485935!2d140.0400534155516!3d35.72026513543709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60228075ab46583b%3A0x84b756438826a3c3!2z44CSMjc0LTA4MTUg5Y2D6JGJ55yM6Ii55qmL5biC6KW_57-S5b-X6YeO77yU5LiB55uu77yS4oiS77yR!5e0!3m2!1sja!2sjp!4v1631697047555!5m2!1sja!2sjp"
    width="1094" height="266" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <p class="google-map_caption"><a href="https://goo.gl/maps/7u4EZmR7iL8hg31W6" target="_blank" rel="noopener noreferrer">Googleマップを開く ></a></p>
</div><!-- /.googlemap -->