// ============= 使用ファイル =============
@use "../setting/" as s;
@use "../mixin/" as m;

/*! ====== お問い合わせフォームボタン ====== */
.submit_button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: 6px;
  border: transparent;
  border-radius: 30px;
  background-color: s.$brown;
  color: s.$red;
  font-size: s.rem(24px);
  font-weight: 700;
  text-align: center;
  letter-spacing: .05em;
  transition: background-color .3s ease-out;
  cursor: pointer;

    &:hover{
      background-color: s.$white;
    }
    
}