// ============= 使用ファイル =============
@use "../setting/" as s;
@use "../mixin/" as m;

/*! ====== パンくずリスト ====== */
.breadcrumb-area{
  width: 100%;
  max-width: 1080px;
  margin: 20px auto;
  color: s.$brown;
  font-size: s.rem(14px);
    @include m.mq(md) {
      margin-top: 5px;
    }
}